@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  @apply px-5;
}

@media (min-width: 768px) {
  .center {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (min-width: 1024px) {
  .center {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (min-width: 1280px) {
  .center {
    padding-left: 25%;
    padding-right: 25%;
  }
}

::selection {
  @apply bg-blue-100;
}

.bar-of-progress {
  z-index: 50;
}
