body {
  min-height: calc(100vh - 4rem);
  padding: 2rem;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.editor {
  position: relative;
}

.floating {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.button {
  border-radius: 30px;
  min-width: 200px;
  padding: 10px 0;
}

.title {
  display: block;
  background-color: inherit;
  border: none;
  outline: none;
  font-weight: 700;

  /* h1 */
  line-height: 1;
  color: var(--nc-tx-1);
  padding-top: 0.875rem;
  color: var(--nc-tx-1);
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--nc-bg-2);
  font-size: 2.25rem;
}

.content {
  min-height: 90vh;
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  resize: none;
}
